$break-mid:     800px;
$break-small:   500px;

$bright-white: #fff;
$off-white: #f4f4f5;
$gray: #bbbdbe;
$invisible-brown: #47371e;
$black: #111;

// green and brown color scheme
$logo-brown: #43331a;
$logo-green: #bdc842;

// blue and gold warriors color scheme
$warriors-blue: #0146ad;
$warriors-gold: #f8c536;
$warriors-bright-gold: #ffcd3e;


// hot swap for easier theme change without wrong names
$mid-bg: $warriors-blue;
$front-bg: $off-white;
$back-bg: #fff;

$font-color: $black;
