$break-mid:     800px;
$break-small:   500px;

$bright-white: #fff;
$off-white: #eee;
$logo-brown: #43331a;
$logo-green: #bdc842;
$gray: #bbbdbe;
$invisible-brown: #47371e;

$mid-bg: $logo-brown;
$front-bg: $off-white;
$font-color: $logo-brown;
