@import 'variables';

.content-container {
    width: 100%;
    // height: 2000px;
    // padding-bottom: 0px;
    // margin-bottom: -20px;
    background: $mid-bg;
    // a {
    //     text-decoration: none;
    //     color: $font-color;
    // }
    overflow: auto;
    .news-elem {
        margin: 15px;
        width: auto;
        background: $front-bg;
        overflow: hidden;
        padding-right: 20px;
        position: relative;
        p {
            padding: 20px;
            font-size: 2em;
            z-index: 9999;
            .date-right {
                float: right;
                font-size: 14px;
                // padding-right: 20px;
            }
        }
        img {
            float: left;
            width: 25%;
            margin: 20px;
            margin-top: 0px;
        }
        .copy {
            padding-right: 20px;
        }
        .post-remove-edit {
            position: absolute;
            bottom: 15px;
            right: 20px;
            text-align: right;
        }
        &:after {
            content: "";
            display: table;
            clear: both;
        }
        &:hover {
            background-color: $bright-white;
        }
        &:first-of-type {
            margin-top: 0;
        }
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.advertisement {
    color: $black;
    text-align: center;
    width: 70%;
    background: $warriors-gold;
    margin: auto;
    padding: 0.5em;
    &:hover {
        background: $warriors-bright-gold;
    }
}
