<!DOCTYPE html>
<html>
	<% include ../partials/head %>
	<body>

		<div class="page-container">
			<div class="footer-push">
				<img src="/img/sample-news-img-left.png" class="staging-logo"><span class="tagline">curry3 - Stephen Curry News and More</span>
			<% include ../partials/header2 %>
<!-- template top end -->
