<!-- <div class="wide-container"> -->
            <div class="footer">
                <div class="footer-elem"><a href="#">contact us</a></div>
                <div class="footer-elem mid"><a href="#">kaynet. design. develop.</a></div>
                <div class="footer-elem"><a href="#">advertise with us</a></div>
            </div>
        <!-- </div> -->
