<div class="wide-container">
            <div class="footer">
                <a href="#">contact us</a><a href="#"><span class="foot-right">advertise with us</span></a>
            </div>
        </div>
