<div class="wide-container">
                <img src="/img/temp-logo2.png" class="logo-img">
                <div class="divider"></div>
                <nav id="navbar" class="navbar">
                    <ul>
                        <a href="#"><li>
                            one
                        </li></a>
                        <a href="#"><li>
                            two
                        </li></a>
                        <a href="#"><li>
                            three
                        </li></a>
                        <a href="#"><li>
                            four
                        </li></a>
                        <a href="/newPost"><li>
                            new post
                        </li></a>
                    </ul>
                </nav>
            </div>
