<div class="wide-container header-padding">
                <!-- <img src="/img/temp-logo2.png" class="logo-img"> -->
                <!-- <div class="divider"></div> -->
                <div class="divider"></div>
                <nav id="navbar" class="navbar">
                    <ul>
                        <a href="/"><li>
                            HOME
                        </li></a>
                        <a href="#"><li>
                            TWO
                        </li></a>
                        <a href="#"><li>
                            THREE
                        </li></a>
                        <a href="/newPost"><li>
                            NEW POST
                        </li></a>
                        <% if( admin ) { %>
                        <a href="/signout"><li>
                            SIGNOUT
                        </li></a>
                        <% } else { %>
                        <a href="/signin"><li class="last">
                            ADMIN
                        </li></a>
                        <% } %>
                    </ul>
                </nav>
            </div>
