<!DOCTYPE html>
<!--

    author:         arthurKN (2015)
    checkit:		http://github.com/distrill

-->
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link type="text/css" rel="stylesheet" href="css/stylesheet.css"/>
		<title>Curry THREE</title>
	</head>
	<body style="width:100%;height:100%;">
		<!-- <img src="../../public/img/temp-logo.png" style="display:inline;width:100%;"> -->
        <div class="page-container">

			<div class="wide-container">
				<img src="img/temp-logo1.png" class="logo-img">
				<div class="divider"></div>
				<nav id="navbar" class="navbar">
					<ul>
						<a href="#"><li>
							one
						</li></a>
						<a href="#"><li>
							two
						</li></a>
						<a href="#"><li>
							three
						</li></a>
						<a href="#"><li>
							four
						</li></a>
						<a href="#"><li>
							five
						</li></a>
					</ul>
				</nav>
			</div>

			<div class="content-container">
				<a href="http://www.ibtimes.com/nba-finals-2015-how-stephen-curry-went-unheralded-college-recruit-lebron-james-rival-1951041">
					<div class="news-elem">
						<p>Stephen Curry: Unheralded to Lebron Rival<span class="date-right">June 6, 2015</span></p>
						<img src="img/sample-news-img-3.jpg" class="news-elem-img">
						<span class="copy"> Nearly seven years before Stephen Curry became the NBA’s reigning most valuable player, the scrawny guard led tiny Davidson College into an early-season battle against the North Carolina State Wolfpack. LeBron James, already a well-established NBA superstar, sat courtside, unaware he was watching the man who would become his chief rival in the 2014-15 NBA Finals.</span>
					</div>
				</a>
				<a href="#">
					<div class="advertisement">
						something classy about CLICK HERE NOW this is an advertisement.
					</div>
				</a>
				<a href="http://www.mercurynews.com/warriors/ci_28265760/nba-finals-stephen-currys-parents-say-warriors-star">
					<div class="news-elem">
						<p>Stephen Curry Grounded by Family, Faith<span class="date-right">June 6, 2015</span></p>
						<img src="img/sample-news-img.jpg" class="news-elem-img">
						<span class="copy">ORINDA -- Still revved up after the euphoric Game 1 victory in the NBA Finals, Warriors star Stephen Curry jumped into one of three carloads of Currys and drove through In and Out for burgers, fries and shakes. Then they all headed to his Mediterranean-style home to watch the highlights in the basement.</span>
					</div>
				</a>
				<a href="http://www.cbssports.com/nba/eye-on-basketball/25207008/stephen-curry-can-deadlift-400-pounds">
					<div class="news-elem">
						<p>Stephen Curry Can Deadlift 400 Pounds<span class="date-right">June 5, 2015</span></p>
						<img src="img/sample-news-img-2.jpg" class="news-elem-img">
						<span class="copy">Stephen Curry is stronger than you think. Way, way stronger. Golden State Warriors director of athletic performance Keke Lyles revealed that the MVP's exploits in the weight room are legendary, via ESPN's Tom Haberstroh.</span>
					</div>
				</a>
			</div>

			<div class="wide-container">
				<div class="footer">
					<a href="#">footer info. email?</a><a href="#"><span class="foot-right">footer info. phone#?</span></a>
				</div>
			</div>

		</div>
    </body>
</html>
