<!DOCTYPE html>
<!--

    author:         arthurKN (2015)
    checkit:		http://github.com/distrill

-->
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link type="text/css" rel="stylesheet" href="../../css/stylesheet.css"/>
		<title>Curry THREE</title>
	</head>
	<body>

		<div class="page-container">

			<div class="wide-container">
				<img src="../../img/temp-logo2.png" class="logo-img">
				<div class="divider"></div>
				<nav id="navbar" class="navbar">
					<ul>
						<a href="#"><li>
							one
						</li></a>
						<a href="#"><li>
							two
						</li></a>
						<a href="#"><li>
							three
						</li></a>
						<a href="#"><li>
							four
						</li></a>
						<a href="/newPost"><li>
							new post
						</li></a>
					</ul>
				</nav>
			</div>

            <div class="remove form">
                <div class="new-post-main-content">
                    <h2>Are you sure you want to delete this post?<br>
                    	This cannot be undone.<br><br></h2>
					<h3><%= post.title %><br>
						<img src="../../../img/postThumbnails/<%= post.thumbnail %>" class="remove-image"><br>
                    <form id="uploadForm" enctype="multipart/form-data" action="" method="post" class="new-post-form">
                        <input type="submit" value="Remove Post" class="upload-form-submit">
                    </form>
                </div>
            </div>

			<div class="wide-container">
				<div class="footer">
					<a href="#">contact us</a><a href="#"><span class="foot-right">advertise with us</span></a>
				</div>
			</div>

        </div>
    </body>
</html>
