<!DOCTYPE html>
<html>
	<% include /partials/head %>
	<body>

		<div class="page-container">

			<% include /partials/header %>

			<div class="content-container">

				<form method="post" enctype="multipart/form-data">
					<input type="text" name="username" placeholder="username">
					<input type="text" name="password" placeholder="password">
					<input type="submit">
				</form>

			</div>

			<% include /partials/footer %>

		</div>

	</body>
</html>
