<% include /metaPartials/top %>
<div class="content-container">

	<form method="post" enctype="multipart/form-data">
		<input type="text" name="username" placeholder="username">
		<input type="text" name="password" placeholder="password">
		<input type="submit">
	</form>

</div>
<% include /metaPartials/bottom %>
